html{
    background-image: url("../images/circles-dark.png");
}

h1 {
    padding: 0;
    margin: 0;
}

.images{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

.images img{
    height: 100%;
    width: 40%;
    padding: 5%;
    border-style: solid;
    border-color: blue;
    border-width: 5px;
    text-align: center;
}

.button{
    padding-top: 10px;
}